<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="cancelar-cuenta">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }

      .h1{
        text-align: center
      }
    </style>


    <iron-ajax
      id="deleteAccount"
      url="http://localhost:3000/lowcostbank/v1/accounts/{{iban}}"
      method="DELETE"
      on-response="manageDeleteAccountResponse"
      on-error="manageErrorDeleteAccountResponse"
      >
    </iron-ajax>

<div>
    <br><br>
    <h2>Va a borrar su cuenta {{iban}}</h2><br>

      <h3>IBAN {{iban}}</h3>
      <h3>Saldo {{balance}} {{currency}}</h3>
      <h3>Alias {{alias}}</h3><br>

      <button class="btn btn-danger" on-click="godeleteaccount" iban={{iban}} alias={{alias}}>Confirmar</button>
      <button class="btn btn-info" on-click="goaccounts">Cancelar</button>
       </div>



  </template>

  <script>

    class CancelarCuenta extends Polymer.Element {
      static get is() { return 'cancelar-cuenta'; }
      static get properties() {
        return {
          iban:{
            type: String
          },
          userId: {
            type: Number
          }
        };
      }

      goaccounts(){
        console.log("Estoy en cancelar-cuenta y el cliente cancela cancelar el contrato")
        this.dispatchEvent(new CustomEvent("eventresturnaccounts", {"detail":{}}))
      }


      godeleteaccount(e){
        console.log("Estoy en cancelar-cuenta, preparamos los datos y lanzamos la cancelacion: "+ e.currentTarget.iban)
        var iban = e.currentTarget.iban
        this.$.deleteAccount.generateRequest();
       }


      manageDeleteAccountResponse(data){
      console.log("Estoy en cancelar-cuenta y vemos el resultado la cancelacion de la cuenta para el iban: "+ data.detail.response.iban)
      var userId = window.sessionStorage.getItem('userId');
      console.log(userId);
      this.dispatchEvent(new CustomEvent("eventloadaccounts", {"detail":{"userId": userId}}))
      }

      manageErrorDeleteAccountResponse(error){
        console.log("Estoy en confirmar-cancelar y ha habido un error en la cancelacion del contrato: "+ error.detail.response)
      }

    }

    window.customElements.define(CancelarCuenta.is, CancelarCuenta);
  </script>
</dom-module>
