<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="visor-cuentas">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }

      .pull-right {
         float: right !important;
      }

    </style>


    <iron-ajax
     id="getAccounts"
     url="http://localhost:3000/lowcostbank/v1/users/{{userId}}/accounts"
     handle-as="json"
     on-response = "manageAccountResponse"
     on-error = "manageAccountErrorResponse">
     </iron-ajax>

     <iron-ajax
     id="postAccount"
     url="http://localhost:3000/lowcostbank/v1/users/{{userId}}/accounts"
     method="POST"
     handle-as="json"
     on-response="managePostAccountResponse"
     on-error="manageErrorPostAccountResponse">
     </iron-ajax>

     <iron-ajax
     id="doLogout"
     url="http://localhost:3000/lowcostbank/v1/logout/{{userId}}"
     method="POST"
     handle-as="json"
     on-response="manageLogoutResponse"
    on-error="manageErrorLogoutResponse">
     </iron-ajax>



    <div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 text-left">
      <button class="btn btn-primary" on-click="postaccount">Alta de cuenta</button>
    </div>
    <div class="col-md- col-sm-6 col-xs-6 text-right">
      <button class="btn btn-danger" on-click="gologout">Logout
         <span class="glyphicon glyphicon-remove-sign"></span>
      </button>
      <button class="btn btn-primary"on-click="goputuser">Usuario
         <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
  </div>
</div>

    <br><br>
    <span hidden$="{{!logado}}">¡Bienvenido de nuevo! [[first_name]] [[last_name]] </span>
    <h1 align="center">Sus cuentas</h1><br>



    <!-- <table class="table table-striped">
       <thead>
         <th>IBAN</th>
         <th>Saldo</th>
         <th>Moneda</th>
         <th>Alias</th>
       </thead>
       <tbody>
           <template is="dom-repeat" items="{{accounts}}">
              <tr>
                <td>{{item.iban}}</td>
                <td>{{item.balance}}</td>
                <td>{{item.currency}}</td>
                <td>{{item.alias}}</td>
                <td><button class="btn btn-info" on-click="getMovements" iban={{item.iban}}>Movimientos</button></td>
                <td><button class ="btn btn-info" on-click="deleteAccount" iban={{item.iban}}>Cancelar</button></td>
                <td><button class ="btn btn-info" on-click="goPutAccount" iban={{item.iban}} alias={{item.alias}} balance={{item.balance}} currency={{item.currency}}>Modificar</button></td>

          </template>
    </table> -->


    <div class="container">
          <table>
           <tr>
             <th>IBAN</th>
             <th>Saldo</th>
             <th>Moneda</th>
             <th>Alias</th>
             <th></th>
           </tr>
           <template is="dom-repeat" items="[[accounts]]">
            <tr>
              <td><span>[[item.iban]]</span></td>
              <td><span>[[item.balance]] </span></td>
              <td><span>[[item.currency]]</span></td>
              <td><span>[[item.alias]]</span></div>
              <td>
                <button class="btn btn-info" title="Movimientos" on-click="getMovements"> </button>
                <button class="btn btn-info"  title="Cancelar" on-click="deleteAccount"> </button>
                <button class="btn btn-info"  title="Modificar" on-click="goPutAccount"> </button>
                <!-- <paper-icon-button icon="list" title="Movimientos" on-click="getMovements"> </paper-icon-button>
                <paper-icon-button icon="delete" title="Cancelar" on-click="deleteAccount"> </paper-icon-button>
                <paper-icon-button icon="modify" title="Modificar" on-click="goPutAccount"> </paper-icon-button> -->
              </td>
           </tr>
             </template>
          </table>
        </div>
        </br></br>



  </template>

  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userId:{
            type: Number
          },
          accounts: {
            type: Array,
          },
          iban:{
            type: String
          },
          balance:{
            type: String
          },
          currency:{
            type: String
          },
          iscontrato:{
            type: Boolean
          },
          alias:{
            type: String
          }
        };
      }

      getAccounts(userId){
      console.log("Visor-Cuentas: obtengo las cuentas de un usuario cuyo userId es: " + userId)
        this.userId = userId
        this.$.getAccounts.generateRequest()
      }

      manageAccountResponse(data){
      console.log("Visor-Cuentas: manageAccountResponse ")
        this.iscontrato = true
        this.accounts=data.detail.response
      }

      manageAccountErrorResponse(error){
        console.log("Visor-Cuentas: Se ha producido error al mostrar las cuentas, no tiene lanzo el evento para darle de alta una")
        this.dispatchEvent(new CustomEvent("eventerroraccounts", {"detail":{}}))
      }

      getMovements(e){
      console.log("Visor-Cuentas: consulta movimientos para el iban: " + e.currentTarget.iban)
        var iban = e.model.item.iban;
        this.dispatchEvent(new CustomEvent("eventaccounts", {"detail":{"iban":iban}}))
      }

      goPutAccount(e){
        console.log("Estoy en Visor para modificar el alias de la cuenta de iban: " + e.model.item.iban);
        this.iban = e.model.item.iban;
        this.alias = e.model.item.alias;
        this.balance = e.model.item.balance;
        this.currency = e.model.item.currency;
        this.dispatchEvent(new CustomEvent("eventputaccount", {"detail":{"iban":this.iban, "alias":this.alias, "balance":this.balance, "currency":this.currency}}))
      }

      goputuser(e){
        console.log("Estoy en visor-cuentas para modificar el cliente: " + this.userId);
        var first_name = window.sessionStorage.getItem('first_name')
        var last_name = window.sessionStorage.getItem('last_name')
        console.log("Estoy en visor-cuentas para modificar el nombre: " + first_name);
        this.dispatchEvent(new CustomEvent("eventputuser", {"detail":{"userId":this.userId, "first_name":first_name, "last_name":last_name}}))
      }

      postaccount(){
        console.log("Estoy en Visor-Cuentas contratar una cuenta para el cliente: " + this.userId );
        this.$.postAccount.params.userId = this.userId
        console.log("Estoy en contratar para el cliente this.$.postAccount.params.userId es: " + this.$.postAccount.params.userId );
        this.$.postAccount.generateRequest()
      }

      managePostAccountResponse(data){
        console.log("Estoy en Visor-Cuentas, recargo las cuentas para en mostrar el nuevo contrato para el cliente " + this.userId);
        this.$.getAccounts.params.userId = this.userId
        this.$.getAccounts.generateRequest()
      }

      manageErrorPostAccountResponse(error){
        console.log("Ha habido un error en el alta del contrato, error: " + error);
        this.logado = false
      }

      gologout(e){
        console.log("Estoy en visor-cuentas haciendo el logout ");
        this.$.doLogout.params = this.userId;
        console.log(this.$.doLogout.params);
        this.$.doLogout.generateRequest();
      }

      manageLogoutResponse(data){
        console.log("Estoy en visor-cuentas con resultado logout ok")
        var first_name=  this.first_name;
        var last_name=  this.last_name;
        var userId= this.userId;
        this.logado = true
        console.log("El nombre es:  "+ first_name);
        console.log("El apellido  es:  "+ last_name);
        this.err_message = "El logout se ha realizado correctamente ";
        this.dispatchEvent(new CustomEvent("eventlogout", {"detail":{"userId":userId, "first_name":first_name, "last_name":last_name }}))
      }

      manageErrorLogoutResponse(error){
        console.log("Estoy en visor-cuentas y ha habido un error de logout");
        this.err_message = "Error al hacer el logout";
        this.estoylogado = true
      }

      deleteAccount(e){
        console.log("Estoy en visor de cuentas para borar la cuenta: " + e.model.item.iban);
        this.iban = e.model.item.iban;
        this.alias = e.model.item.alias;
        this.balance = e.model.item.balance;
        this.currency = e.model.item.currency;
        this.dispatchEvent(new CustomEvent("eventdeleteaccount", {"detail":{"iban":this.iban, "alias":this.alias, "balance":this.balance, "currency":this.currency}}))
      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
