<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimientos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- /*<style>
      :host {
        display: block;
        background-color: #E8F0F7
      }

      .pull-right {
         float: right !important;
      }
    </style>*/ -->




    <!-- <visor-contratos id="vsc" on-contratoconsultado="procesarcontrato"></visor-contratos> -->


    <!-- <button class="btn btn-info pull-right" hidden$="{{!showlogout}}" on-click="goaccounts">Volver a Cuentas</button><br> -->
    <!-- <button class ="btn btn-primary" hidden$="{{!showlogout}}" on-click="gologout" style="position: absolute; top: 3; right: 1;">Logout</button>

    <br><br>
    <h2 align="center">Movimientos del contrato {{iban}}</h2><br> -->

    <!-- <table class="table table-striped">
       <thead>
         <th>Número de mvto</th>
         <th>Importe</th>
         <th>Moneda</th>
         <th>Tipo Ingreso/Reintegro</th>
         <th>Fecha</th>
         <th>Concepto</th>
         <th>Modificar</th>
         <th>Eliminar</th>


       </thead>
       <tbody>
           <template is="dom-repeat" items="{{movements}}">
              <tr>
                <td>{{item.movementId}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.currency}}</td>
                <td>{{item.type}}</td>
                <td>{{item.date}}</td>
                <td>{{item.detail}}</td>
                <td><button class="btn btn-info" on-click="goPutMovement" movementId={{item.movementId}}>Modificar</button></td>
                <td><button class ="btn btn-info" on-click="doDeleteMovement" movementId={{item.movementId}}>Eliminar</button></td>

              </tr>
          </template>
    </table>
    <br> -->

    <!-- <button class="btn btn-primary" type="submit" name="alta" on-click="goNewMovement"iban={{item.iban}}>Alta de movimiento</button> -->
  <!-- </template> -->


     <style>
     :host {
       display: block;
     }

     .container{
       @apply(--layout-horizontal);
       @apply(--layout-center-justified);
     }

     body {
       @apply --paper-font-common-base;
       font-size: 14px;
       margin: 0;
       padding: 24px;
       background-color: var(--paper-grey-50);
     }

     .toolbar {
       height: 60px;
       padding: 16px;
       background: #dddddd;
       color: var(--text-primary-color);
       @apply --paper-font-display1;
     }

     .item .primary {
       color: var(--primary-text-color);
       @apply --paper-font-body1;
     }

     .item .secondary {
       color: var(--secondary-text-color);
       @apply --paper-font-body1;
     }

     table {
         border-collapse: collapse;
         width: 80%;
         @apply --paper-font-body1;
     }

     td {
         text-align: left;
         padding: 8px;
         color: var(--secondary-text-color);
         @apply --paper-font-body1;
     }
     th {
         text-align: left;
         border-bottom: 1px solid #ccc;
         padding: 8px;
         color: var(--primary-text-color);
         @apply --paper-font-body1;
     }

     tr {
       border-bottom: 1px solid #ccc;
     }

     </style>

     <button class ="btn btn-primary" hidden$="{{!showlogout}}" on-click="gologout" style="position: absolute; top: 3; right: 1;">Logout</button>

     <br><br>
     <h2 align="center">Movimientos del contrato {{iban}}</h2><br>

     <div class="container">
      <table>
       <tr>
         <th>Movimiento</th>
         <th>Importe</th>
         <th>Moneda</th>
         <th>Tipo</th>
         <th>Fecha</th>
         <th>Detalle</th>
         <th></th>
       </tr>
       <template is="dom-repeat" items="[[movements]]">
        <tr>
          <td><span>[[item.movementId]]</span></td>
          <td><span>[[item.amount]]</span></td>
          <td><span>[[item.currency]]</span></td>
          <td><span>[[item.type]]</span></div>
          <td><span>[[item.date]]</span></td>
          <td><span>[[item.detail]]</span></td>
          <td>
            <button title="Modificar" on-click="goPutMovement"> </button>
            <button title="Eliminar" on-click="doDeleteMovement"> </button>

          </td>
        </tr>
        </template>
      </table>
    </div>
    </br></br>
    <div class="container">
      <paper-button  on-click="goNewMovement"> Nuevo movimiento </paper-button>
      <paper-button  on-click="goaccounts"> Volver a cuentas </paper-button>
    </div>



        <iron-ajax id="getMovementsbyAccount"
        url="http://localhost:3000/lowcostbank/v1/accounts/{{iban}}/movements"
        handle-as="json"
        on-response="manageMovementResponse"
        on-error="manageMovementErrorResponse">
        </iron-ajax>

        <iron-ajax id="doLogout"
        url="http://localhost:3000/lowcostbank/v1/logout/{{userId}}"
        method="POST"
        handle-as="json"
        on-response="manageLogoutResponse"
        on-error="manageErrorLogoutResponse">
        </iron-ajax>

</template>

  <script>
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          movements: {
            type: Array,
          },
          iban:{
            type: String,
          },
          userId:{
            type: Number
          },
          movementId:{
            type: Number
          },
          amount:{
            type: Number
          },
          currency:{
            type: String
          },
          type:{
            type: String
          },
          date:{
            type: Date
          },
          detail:{
            type: String
          }
        };
      }

      goNewMovement(e){
        console.log("Estoy en Visor movimientos para dar de alta uno nuevo para el iban: " +this.iban);
        var iban = this.iban
        this.dispatchEvent(new CustomEvent("eventpostmovement", {"detail":{"iban":iban}}))
      }

      getMovementsbyAccount(iban){
        this.iban = iban
        console.log("Visor-movimientos: obtener los movimientos del iban que es " + iban );
        this.$.getMovementsbyAccount.generateRequest()
      }

      manageMovementResponse(data){
        console.log("Visor-Movimientos: devuelvo los movimientos manageMovementResponse ")
        this.movements=data.detail.response
        console.log("this.movements " + this.movements);
        this.movements = JSON.parse(JSON.stringify(data.detail.response));
        console.log("this.movements json " + this.movements);
      }

      goPutMovement(e){
        this.movementId =e.model.item.movementId
        this.amount =e.model.item.amount
        this.currency =e.model.item.currency
        this.detail =e.model.item.detail
        this.date =e.model.item.date
        this.type =e.model.item.type
        console.log(e);
        this.dispatchEvent(new CustomEvent("eventputmovement", {"detail":{"movementId":this.movementId, "detail":this.detail, "amount":this.amount, "currency":this.currency, "type":this.type, "date":this.date}}))
      }

      manageMovementErrorResponse(error){
        console.log("Visor-movimientos: error al devolver movimientos de una cuenta  " +  error.detail.response);
        console.log("status de la peticion es: " + error.detail.request.xhr.status);
        var userId = this.userId
        this.dispatchEvent(new CustomEvent("eventresturnaccounts", {"detail":{"userId":userId}}))
      }

      goaccounts(){
        console.log("Visor-movimientos: volver a cuentas y lanzo el evento");
        this.dispatchEvent(new CustomEvent("eventresturnaccounts", {"detail":{}}))
      }

      gologout(e){
        console.log("Estoy en visor-movimientos haciendo el logout ");
        console.log("this.userId  "  + this.userId);
        var userId = window.sessionStorage.getItem('userId');
        console.log(" var userId  "  + userId);
        this.userId = userId;
        console.log(this.$.doLogout.params);
        this.islogout = true
        this.$.doLogout.generateRequest();
      }

      manageLogoutResponse(data){
        console.log("Estoy en visor-movimientos con resultado logout ok")
        var first_name=  window.sessionStorage.getItem('first_name');
        var last_name=  window.sessionStorage.getItem('last_name');
        var userId=  window.sessionStorage.getItem('userId');
        this.logado = true
        console.log("El nombre es:  "+ first_name);
        console.log("El apellido  es:  "+ last_name);
        this.err_message = "El logout se ha realizado correctamente ";
        this.dispatchEvent(new CustomEvent("eventlogout", {"detail":{"userId":userId, "first_name":first_name, "last_name":last_name }}))
      // this.iscontrato = false
      // this.ismovimiento = false
      // this.islogout = true
        }

      manageErrorLogoutResponse(error){
        console.log("Estoy en logout-usuario y ha habido un error");
        this.err_message = "Error al hacer el logout";
      //  this.estoylogado = true
        }

    doDeleteMovement(e){
        console.log("Estoy en cancelar movimiento para cancelar el movimiento  " + e.model.item.movementId);
        this.movementId =e.model.item.movementId
        this.amount =e.model.item.amount
        this.currency =e.model.item.currency
        this.detail =e.model.item.detail
        this.date =e.model.item.date
        this.type =e.model.item.type
        console.log(e);
        this.dispatchEvent(new CustomEvent("eventdeletemovement", {"detail":{"movementId":this.movementId,"date":this.date, "detail":this.detail, "amount":this.amount, "currency":this.currency, "type":this.type }}))
        }


    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
