<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- <link rel="import" href="../../bower_components/cells-modal-alert/cells-modal-alert.html"> -->

<dom-module id="modificar-usuario">
 <template>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <style>
     :host {
       display: block;
       padding: 10px;
       background-color: #E8F0F7
     }

     .titulo-blue-26{
       color: blue;
       font-weight: bold;
       font-size: 26px
     }
     /*input[type="checkbox"]:required:invalid + label { color: red; }
     input[type="checkbox"]:required:valid + label { color: green; }*/

   </style>


   <iron-ajax
    id="putUser"
    url="http://localhost:3000/lowcostbank/v1/users/{{userId}}"
    method = "PUT"
    handle-a = "json"
    content-type = "application/json"
    on-response = "manageSaveResponse"
    on-error = "manageSaveErrorResponse">
 </iron-ajax>

   <div class="titulo-blue-26">Introduce tus datos</div><br>
   <div>
       <div>

         <h2> Hola {{first_name}} {{last_name}}, ¿desea modificar sus datos personales?</h2><br>
         <br>

           <h4>Nuevo nombre</h4><input type="text" class="focus text-field" placeholder="Alias de la cuenta" autocomplete="off" value="{{first_name::input}}" required/><br><br>
           <h4>Nuevo apellido</h4><input type="text" class="focus text-field" placeholder="Alias de la cuenta" autocomplete="off" value="{{last_name::input}}" required/><br><br>

           <button class="btn btn-danger" on-click="putuser">Confirmar</button>
           <button class="btn btn-info" on-click="goaccounts">Volver a mis cuentas</button>

          </div>
        <br><br>
    </div>
 </template>


 <script>



   class ModificarUsuario extends Polymer.Element {
     static get is() { return 'modificar-usuario'; }
     static get properties() {
       return {
         userId: {
           type: String,
           value: ""
         },
         userdata: {
           type: Object,
           value: {}
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         }
      };
     }


     putuser(e){
       console.log("Estoy en modificar-usuario y preparamos el alta del usuario donewuser" + this.first_name + "  " + this.last_name)
       console.log("el nombre introducidos es:  " + this.first_name);
       console.log("el apellido introducidos es:  " + this.last_name);
       this.$.putUser.body = JSON.stringify({'first_name' : this.first_name, "last_name" : this.last_name});
       var userId = this.userId
       console.log("userId" + userId);
       console.log("this.$.putaccount.body es:  " + this.$.putUser.body);
       this.$.putUser.generateRequest();
        }


     manageSaveResponse(resultado){
       console.log("Estoy en modificar-usuario y ha sido correcta " + resultado.detail.response.userId + "  " + resultado.detail.response.first_name);
       alert("Modificacion realizada con exíto, volvemos a cuentas ");
       this.dispatchEvent(new CustomEvent("eventloadaccounts", {"detail":{"userId":resultado.detail.response.userId, "first_name":resultado.detail.response.first_name, "last_name":resultado.detail.response.last_name}}))
        }

     manageSaveErrorResponse(error){
       console.log("Estoy en modificar-usuario y ha habido un error");
        }

     goaccounts(){
       console.log("Estoy en modificar-usuario, no lo modifico y volvemos a cuentas");
       this.dispatchEvent(new CustomEvent("eventresturnaccounts", {"detail":{}}))     }
        }

   window.customElements.define(ModificarUsuario.is, ModificarUsuario);
 </script>
</dom-module>
