<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html"> -->

<dom-module id="salir-usuario">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }
    </style>

   <!-- <h1>Pagina de Logout</h1> -->
   <br><br>
   <h1>Hasta luego {{first_name}} {{last_name}} </h1><br><br>
   <h3>Esperamos verle pronto de nuevo y le deseamos que disfrute del dia. </h3><br><br>
   <h3>Aquí le dejamos el tiempo en su ciudad </h3><br><br>
   <footer id="temperature">  </footer>
   <footer id="humidity">  </footer>
   <footer id="windspeed">  </footer>
   <footer id="icon">  </footer>


    <iron-ajax auto
  id="getWeather"
  url="http://api.openweathermap.org/data/2.5/weather?q=Madrid&units=metric&APPID=2ef7a2f79b19a4488508e5300979031e"
  method="GET"
  on-response="manageWeatherResponse"
    on-error = "manageWeatherErrorResponse">
</iron-ajax>


    <button class="btn btn-primary" on-click="volverlogin">Volver a Login</button>
 </template>

 <script>

   class SalirUsuario extends Polymer.Element {
     static get is() { return 'salir-usuario'; }
     static get properties() {
       return {
       };
       }

       volverlogin(){
         console.log("Estoy en log-out y vuelvo a Login para seguir probando");
         this.dispatchEvent(new CustomEvent("eventlogin", {"detail":{}}))
       }


       manageWeatherResponse (data){
         var image="http://openweathermap.org/img/w/"+data.detail.response.weather[0].icon+".png";
         var temperature = "Temperatura: "+data.detail.response.main.temp+" °С, con una minima de "+data.detail.response.main.temp_min+" y una maxima de "+data.detail.response.main.temp_max+" °С";
         var humidity ="Humedad: " + data.detail.response.main.humidity
         var windspeed ="Velocidad del viento: " + data.detail.response.wind.speed
         var icon =" <img src='"+image+"' align='middle'></img>"
         this.$.temperature.innerHTML=temperature;
         this.$.humidity.innerHTML=humidity;
         this.$.windspeed.innerHTML=windspeed;
         this.$.icon.innerHTML=icon;
         console.log("la llamada a la API ha sido un exito");
       }

       manageWeatherErrorResponse(e) {
         console.log("el e.message es  " + e.message);
         console.log(e);
       }

 }

   window.customElements.define(SalirUsuario.is, SalirUsuario);
 </script>
</dom-module>
