<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="error-movimientos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }

      .h1{
        text-align: center
      }
    </style>
    <br><br>
    <h1>No existen movimientos para esta cuenta</h1><br><br>
    <button class="btn btn-info" on-click="goaccounts">Volver a cuentas</button>
  </template>

  <script>

    class ErrorMovimientos extends Polymer.Element {
      static get is() { return 'error-movimientos'; }
      static get properties() {
        return {
          idcliente:{
            type: Number
          }
        };
      }

      goaccounts(){
        console.log("Estoy en error-movimientos para vovler a cuentas")
        this.dispatchEvent(new CustomEvent("eventresturnaccounts", {"detail":{}}))
      }
    }

    window.customElements.define(ErrorMovimientos.is, ErrorMovimientos);
  </script>
</dom-module>
