<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="modificar-cuenta">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }

      .h1{
        text-align: center
      }
    </style>

    <iron-ajax
     id="putAccount"
     url="http://localhost:3000/lowcostbank/v1/accounts/{{iban}}"
     handle-as="json"
     content-type="application/json"
     method="PUT"
     on-response="managePutAccountResponse"
     on-error="manageErrorPutAccountResponse"/>
    </iron-ajax>



<div>
    <br><br>
    <h2>Va a modificar su cuenta {{iban}}</h2><br>

      <h3>IBAN {{iban}}</h3>
      <h3>Saldo {{balance}} {{currency}}</h3>
      <h3>Alias {{alias}}</h3>

    <h3>Modifique el alias de su cuenta</h3><br>

      <h4>Nuevo alias de la cuenta</h4><input type="text" class="focus text-field" placeholder="Alias de la cuenta" autocomplete="off" value="{{alias::input}}" required/><br><br>


      <button class="btn btn-danger" on-click="putaccount" iban={{iban}} alias={{alias}}>Confirmar</button>
      <button class="btn btn-info" on-click="goaccounts">Cancelar</button>
       </div>

  </template>

  <script>

    class ModificarCuenta extends Polymer.Element {
      static get is() { return 'modificar-cuenta'; }
      static get properties() {
        return {
          iban:{
            type: String
          },
          userId: {
            type: Number
          },
          alias:{
            type: String
          }
        };
      }

      putaccount(e){
        console.log("Estoy en modificar-cuenta, preparamos los datos y lanzamos la modificacion: "+ e.currentTarget.iban)
        var iban = e.currentTarget.iban
        console.log("iban es " + iban);
        console.log("this.alias es " + this.alias);
        this.$.putAccount.body = JSON.stringify({'alias' : this.alias});
        this.$.putAccount.params = iban;
        console.log("this.$.putaccount.body es:  " + this.$.putAccount.body);
        this.$.putAccount.generateRequest();
       }


      managePutAccountResponse(data){
        console.log("Estoy en modificar-cuenta y vemos el resultado la modificacion de la cuenta para el iban: "+ data.detail.response.iban)
        this.dispatchEvent(new CustomEvent("eventputaccount", {"detail":{"iban": iban}}))
        var userId = data.detail.response.userId
        console.log(userId);
        this.dispatchEvent(new CustomEvent("eventloadaccounts", {"detail":{"userId": userId}}))
      }

      manageErrorPutAccountResponse(error){
        console.log("Estoy en confirmar-cancelar y ha habido un error en la cancelacion del contrato: "+ error.detail.response)
      }

      goaccounts(){
        console.log("Estoy modificar cuenta y no quiero hacerlo, vuelvo a contratos ")
        var userId = this.userId
        this.dispatchEvent(new CustomEvent("eventresturnaccounts", {"detail":{}}))
      }

    }

    window.customElements.define(ModificarCuenta.is, ModificarCuenta);
  </script>
</dom-module>
