<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">


<dom-module id="login-usuario">
 <template>
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --> -->
   <link rel="stylesheet" href="/styles/flaty/bootstrap.min.css">
   <style>
   :host {
     display: block;
     width: 100%;
     text-align: center;
   }

     .titulo-gris-22{
       color: grey;
       font-weight: bold;
       font-size: 22px
     }

     .titulo-blue-38{
       color: blue;
       font-weight: bold;
       font-size: 38px
     }

   </style>

              <div class="jumbotron" align="left">
                <div class="titulo-grey-58">Bienvenido al magnífico Low Cost Bank</div><br><br>
                <p class="text-muted">Entra o date de alta completamente gratis</p>
                <paper-input id="email"
                            label="email"
                            value="{{email::input}}"
                            required
                            error-message="Cuenta de correo invalida"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                  <iron-icon icon="mail" slot="prefix"></iron-icon>
                </paper-input>
                <paper-input id="password"
                            value="{{password::input}}"
                            label="password"
                            type="password"
                            required
                            error-message="Minimo 8 caracteres, un numero, mayusculas y minusculas"
                            <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"> -->
                  <iron-icon icon="https" slot="prefix"></iron-icon>
                </paper-input>

                <div align="center">
                  <button type="button" class="btn btn-success btn-lg" on-click="dologin">Aceptar</button>
                  <button type="button" class="btn btn-outline-success btn-lg" on-click="dosignin">Usuario nuevo</button>
                  <br><br>

                </div>
              </div>

              <!--div class="alert alert-dismissible alert-warning">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <h4 class="alert-heading">Atencion!</h4>
                  <p class="mb-0">{{err_message}} <a href="#" class="alert-link">aqui</a>.</p>
              </div-->
              <span hidden$="{{!logado}}">¡Bienvenido de nuevo! [[first_name]] [[last_name]] </span>


              <iron-ajax
               id="doLogin"
               url="http://localhost:3000/lowcostbank/v1/login"
               handle-as="json"
               content-type="application/json"
               method="POST"
               on-response="manageLoginResponse"
               on-error="manageErrorLoginResponse"
               />
              </iron-ajax>


 </template>

 <script>

   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         },
         password: {
           type: String
         },
         logado:{
           type: Boolean,
           value: false
         },
         first_name:{
           type: String
         },
         last_name:{
           type: String
         },
         userId:{
           type: Number
         }
       };
     }


     dologin(){
       console.log("Estoy en Login-usuario y lanzo el login para: "+ this.email + this.password)
       this.email="lola@garcia.com"
       this.password="12345678"

       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       this.$.doLogin.body = JSON.stringify(loginData);
       this.$.doLogin.generateRequest();
       console.log("this.$.doLogin.body" + this.$.doLogin.body);

     }


     manageLoginResponse(data){
      console.log("Estoy en Login-usuario, llegaron los datos a la API y el resultado es: "+ data.detail.response.userId+ "  " + data.detail.response.first_name )
       this.logado = true
       window.sessionStorage.setItem('userId', data.detail.response.userId );
       window.sessionStorage.setItem('first_name', data.detail.response.first_name );
       window.sessionStorage.setItem('last_name', data.detail.response.last_name );
       this.err_message = "El login se ha realizado correctamente ";
       this.dispatchEvent(new CustomEvent("eventlogged", {"detail":{"userId":data.detail.response.userId, "first_name":data.detail.response.first_name, "last_name":data.detail.response.last_name }}))

     }


     manageErrorLoginResponse(error){
       console.log("Estoy en Login-usuario y ha habido un error en el login: ")
       console.log("Valor de la respuesta  " + error.detail.request.xhr.response);
       console.log("Estado/código del error  " + error.detail.request.xhr.status);
       this.err_message = "Error al hacer el login";
       this.$.alertbox.open()
       this.logado = false
       this.dispatchEvent(new CustomEvent("eventnotlogged", {"detail":{}}))

     }

     dosignin(){
       console.log("Estoy en Login-usuario y ns vamos a nuevo usuario")
       this.logado = false
       this.dispatchEvent(new CustomEvent("eventsignin", {"detail":{}}))
     }

   }

   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
