<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="cancelar-movimiento">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }

      .h1{
        text-align: center
      }
    </style>


    <br><br>
    <h3>Lo sentimos, no es posible cancelar el movimiento {{movement}} por este canal.</h3><br>
    <h5>Diríjase a su oficina más cercana y estaremos encantados de ayudarle.</h5><br>
    <button class="btn btn-info" on-click="gomovements">Aceptar</button>
  
  </template>

  <script>

    class CancelarMovimiento extends Polymer.Element {
      static get is() { return 'cancelar-movimiento'; }
      static get properties() {
        return {
          iban:{
            type: String
          },
          userId: {
            type: Number
          }
        };
      }

      gomovements(){
        console.log("Estoy en cancelar-movimiento y no podemos cancelar el movimiento")
        var userId = this.userId
        this.dispatchEvent(new CustomEvent("eventresturnmovements", {"detail":{}}))
      }

    }

    window.customElements.define(CancelarMovimiento.is, CancelarMovimiento);
  </script>
</dom-module>
