<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="alta-ok">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }
    </style>
    <h1>Alta realizada correctamente</h1><br>
    <button class="btn btn-primary" on-click="volverlogin">Volver a Login</button>
  </template>

  <script>

    class AltaOk extends Polymer.Element {
      static get is() { return 'alta-ok'; }
      static get properties() {
        return {
        };
      }

      volverlogin(){
        console.log("Estoy en alta-ok y vuelvo a Login nombre" + detail.response.first_name,);
        console.log("Estoy en alta-ok y vuelvo a Login apellido" + detail.response.last_name);
        this.dispatchEvent(new CustomEvent("eventlogin", {"detail":{}}))
      }
    }

    window.customElements.define(AltaOk.is, AltaOk);
  </script>
</dom-module>
