<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- <link rel="import" href="../../bower_components/cells-modal-alert/cells-modal-alert.html"> -->

<dom-module id="registro-usuario">
 <template>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <style>
     :host {
       display: block;
       padding: 10px;
       background-color: #E8F0F7
     }

     .titulo-blue-26{
       color: blue;
       font-weight: bold;
       font-size: 26px
     }
     input[type="checkbox"]:required:invalid + label { color: red; }
     input[type="checkbox"]:required:valid + label { color: green; }

   </style>

   <!-- <cells-modal-alert id='alertbox' toast >
     </cells-modal-alert>

     <cells-modal-alert id='successbox'
       type="success"
       icon="coronita:alert"
       close-on-button-click
       content="Se ha cambiado la contraseña. Pulse continuar para acceder a la aplicación"
       first-button-label="Continuar"
       first-button-classes="link"
       on-first-button-click="_continuar">
     </cells-modal-alert> -->

   <iron-ajax
    id="doNewUser"
    url="http://localhost:3000/lowcostbank/v1/users/"
    method = "POST"
    handle-a = "json"
    content-type = "application/json"
    on-response = "manageSaveResponse"
    on-error = "manageSaveErrorResponse">
 </iron-ajax>

   <div class="titulo-blue-26">Introduce tus datos</div><br>
   <div>
       <div>
         <input type="text" class="focus text-field" placeholder="Nombre" autocomplete="off" value="{{userdata.first_name::input}}" required/><br><br>
         <input type="text" placeholder="Apellido" autocomplete="off" value="{{userdata.last_name::input}}" required/><br><br>
         <input type="text" placeholder="Poblacion" autocomplete="off" value="{{city::input}}" required/><br><br>
         <input type="email" class="focus text-field" placeholder="Email" autocomplete="off" value="{{userdata.email::input}}" required/><br><br>
         <input type="password" placeholder="Password" autocomplete="off" value="{{userdata.password::input}}" required/><br><br>
         <input type="password" placeholder="Repita la password" autocomplete="off" value="{{passwordrepeated::input}}" required/><br><br>


         <input name="check" type="checkbox" id="check" value="checkbox" required onclick="activarcasilla(this)">Acepto los <u>Terminos y las condiciones</u>

         <button class="btn btn-primary" type="submit" name="alta" on-click="doNewUser">Nuevo alta</button>
         <button class="btn btn-info" on-click="goLogin">Volver a Login</button>
          </div>
        <br><br>
    </div>
 </template>


 <script>



   class RegistroUsuario extends Polymer.Element {
     static get is() { return 'registro-usuario'; }
     static get properties() {
       return {
         userId: {
           type: String,
           value: ""
         },
         userdata: {
           type: Object,
           value: {}
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         city: {
           type: String
         },
         email: {
           type: String
         },
         password: {
           type: String
         }
      };
     }

     manageSaveResponse(resultado){
       console.log("Estoy en registro-usuario y mostramos el alta del registro del cliente " + resultado.detail.response.userId + "  " + resultado.detail.response.email);
       this.dispatchEvent(new CustomEvent("eventnew", {"detail":{"id":resultado.detail.response.userId}}))
     }

     doNewUser(){
      console.log("Estoy en registro-usuario y preparamos el alta del usuario donewuser" + this.userdata.first_name + "  " + this.userdata.last_name + "  " + this.userdata.email + "  " + this.userdata.password);

      if (this.userdata.password != this.passwordrepeated) {
        console.log("Las contraseñas no son iguales");
        // this.err_message = "Las contraseñas no son iguales, inténtelo de nuevo ";
        alert("Las contraseñas no son iguales, inténtelo de nuevo ");
        // this.$.alertbox.type = 'error';
        // this.$.alertbox.content = this.err_message;
        // this.$.alertbox.open()
      } else{
        console.log("el nombre introducidos es:  " + this.userdata.first_name);
        console.log("el apellido introducidos es:  " + this.userdata.last_name);
        console.log(JSON.stringify(this.userdata));
        window.sessionStorage.setItem('city', this.city )
        var newuserData = JSON.parse(JSON.stringify(this.userdata));
        console.log(newuserData);
        this.$.doNewUser.body = JSON.stringify(newuserData);
        this.$.doNewUser.generateRequest();
        console.log("El id no está vacio y guardamos el usuario nuevo");
      }
     }

     manageSaveErrorResponse(error){
       console.log("Estoy en registro-usuario y error en el alta del registro del cliente");
       this.estoylogado = false
     }

     goLogin(){
       console.log("Estoy en registro-usuario y volvemos al login");
       this.dispatchEvent(new CustomEvent("eventlogin", {"detail":{}}))
     }

   }

   window.customElements.define(RegistroUsuario.is, RegistroUsuario);
 </script>
</dom-module>
