<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-movimiento">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }

      .h1{
        text-align: center
      }
    </style>

    <iron-ajax
    id="postMovement"
    url="http://localhost:3000/lowcostbank/v1/accounts/{{iban}}/movements"
    method="POST"
    handle-as="json"
    content-type="application/json"
    on-response="manageMovementResponse"
    on-error="manageMovementErrorResponse">
    </iron-ajax>

<div>
    <br><br>
    <h3>Va a dar de alta un movimiento para su cuenta {{iban}}</h3><br>


    <h5>Importe</h5><input type="string" placeholder="Importe" autocomplete="off" value="{{amount::input}}" required/><br><br>
    <h5>Moneda</h5><input type="currency" placeholder="Moneda" autocomplete="off" value="{{currency::input}}" required/><br><br>
    <h5>Detalle del movimiento</h5><input type="text" class="focus text-field" placeholder="Detalle" autocomplete="off" value="{{detail::input}}" required/><br><br>

      <button class="btn btn-danger" on-click="postMovement">Confirmar</button>
      <button class="btn btn-info" on-click="goMovements">Cancelar</button>
       </div>



  </template>

  <script>

    class AltaMovimiento extends Polymer.Element {
      static get is() { return 'alta-movimiento'; }
      static get properties() {
        return {
          iban:{
            type: String
          },
          amount:{
            type: Number
          },
          currency:{
            type: String
          },
          type:{
            type: String
          },
          movementId:{
            type: Number
          },
          detail:{
            type: String
          }
        };
      }

      postMovement(e){
        console.log(JSON.stringify((e)));
        console.log("Estoy en alta-movimiento, preparamos los datos y lanzamos el alta para el iban: "+ e.currentTarget.iban)
        var amount2 = parseFloat(this.amount)
        console.log("amount es : "+ amount2);
        var movementdata = {"amount":amount2,"currency": this.currency, "detail":this.detail};
        console.log("movementdata nuevo" + movementdata);
        console.log(iban);
        var iban = this.iban;
        console.log(iban);
        this.$.postMovement.body = JSON.stringify(movementdata)
        console.log(this.$.postMovement.body );
        this.$.postMovement.generateRequest();
       }


      manageMovementResponse(data){
        console.log("Estoy en alta-movimiento y vemos el resultado del alta del movimiento para el iban: "+ this.iban)
        var iban = this.iban
        this.dispatchEvent(new CustomEvent("eventloadmovements", {"detail":{"iban": iban}}))
      }


      manageMovementErrorResponse(error){
        console.log("Estoy en alta movimiento y ha habido un error  " + error.detail.response)
      }

      goMovements(){
        console.log("Estoy alta movimiento y no quiero hacerlo, vuelvo a movimientos ")
        var iban = this.iban
        this.dispatchEvent(new CustomEvent("eventreturnmovements", {"detail":{"iban": iban}}))
      }

    }

    window.customElements.define(AltaMovimiento.is, AltaMovimiento);
  </script>
</dom-module>
