<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="error-logado">
 <template>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <style>
     :host {
       display: block;
       padding: 10px;
       text-align: center;
       background-color: #E8F0F7
     }

     .titulo-negro-46 {
       font-family: sans-serif;
       font-size: 46px;
       font-weight: bold;
       color: black;
       text-align: left
     }

     .titulo-negro-36 {
       font-family: sans-serif;
       font-size: 36px;
       font-weight: bold;
       color: black;
       text-align: center
     }

     .pull-center {
        float: center !important;
     }
   </style>

   <div class="titulo-negro-46">Upps......</div><br><br>

   <div>
       <div style text-align="center">
            <p class="titulo-negro-36">Algunos de los datos introducidos no son correctos.</p><br>
            <!--<button style = "border:1px solid red; text-align=center;font-size=20" on-click="volverlogin">Volver a intentarlo</button>-->
            <button class="btn btn-primary pull-center" on-click="volverlogin">Volver a intentarlo</button>
        </div>
        <br><br>
    </div>
 </template>

 <script>

   class ErrorLogado extends Polymer.Element {
     static get is() { return 'error-logado'; }
     static get properties() {
       return {
      };
     }

     volverlogin(){
       console.log("Estoy en Error-logado y nos vovlemso a login")
       this.dispatchEvent(new CustomEvent("eventlogin", {"detail":{}}))
     }
   }

   window.customElements.define(ErrorLogado.is, ErrorLogado);
 </script>
</dom-module>
