<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="modificar-movimiento">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }

      .h1{
        text-align: center
      }
    </style>

    <iron-ajax
     id="putMovement"
     url="http://localhost:3000/lowcostbank/v1/movements/{{movementId}}"
     handle-as="json"
     content-type="application/json"
     method="PUT"
     on-response="managePutMovementResponse"
     on-error="manageErrorPutMovementResponse"/>
    </iron-ajax>


<div>
    <br><br>
    <h2>Va a modificar el movimiento {{movementId}} de su cuenta {{iban}}</h2><br>

      <h4>Importe {{amount}} {{currency}}</h4>
      <h4>Tipo {{type}} </h4>
      <h4>Fecha {{date}} </h4>
      <h4>Concepto {{detail}}</h4>
<br>
    <h3>Modifique el concepto de su movimiento</h3>

      <h4></h4><input type="text" class="focus text-field" placeholder="Detalle de la cuenta" autocomplete="off" value="{{detail::input}}" required/><br><br>
      <button class="btn btn-danger" on-click="putmovement" movementId={{movementId}} detail={{detail}}>Confirmar</button>
      <button class="btn btn-info" on-click="gomovements">Cancelar</button>
       </div>


  </template>

  <script>

    class ModificarMovimiento extends Polymer.Element {
      static get is() { return 'modificar-movimiento'; }
      static get properties() {
        return {
          iban:{
            type: String
          },
          movementId:{
            type: String
          },
          userId: {
            type: Number
          },
          detail:{
            type: String
          },
          amount:{
            type: Number
          },
          currency:{
            type: String
          },
          type:{
            type: String
          },
          date:{
            type: Date
          }
        };
      }

      putmovement(e){
        console.log("Estoy en modificar-movimiento, preparamos los datos y lanzamos la modificacion: ")
        var movementId = this.movementId
        console.log("movementId  "+ movementId);
        var detail = e.currentTarget.detail
        this.$.putMovement.body = JSON.stringify({'detail' : this.detail});
        console.log("this.$.putmovement.body es:  " + this.$.putMovement.body);
        this.$.putMovement.generateRequest();
        }


      managePutMovementResponse(data){
        console.log("Estoy en modificar-movimiento y vemos el resultado la modificacion de la movimiento")
        var iban = data.detail.response.iban
        console.log("iban: "+iban);
        this.dispatchEvent(new CustomEvent("eventloadmovements", {"detail":{"iban": iban}}))
        }

      manageErrorPutMovementResponse(error){
        console.log("Estoy en confirmar-cancelar y ha habido un error en la cancelacion del contrato: "+ error.detail.response)
        }

      gomovements(){
        console.log("Estoy modificar movimiento y no quiero hacerlo, vuelvo a movimientos ")
        var iban = this.iban
        this.dispatchEvent(new CustomEvent("eventreturnmovements", {"detail":{"iban": iban}}))
        }

    }

    window.customElements.define(ModificarMovimiento.is, ModificarMovimiento);
  </script>
</dom-module>
