<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="error-cuentas">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }

      .h1{
        text-align: center
      }
    </style>

    <iron-ajax
    id="postAccount"
    url="http://localhost:3000/lowcostbank/v1/users/{{userId}}/accounts"
    method="POST"
    handle-as="json"
    on-response="managePostAccountResponse"
    on-error="manageErrorPostAccountResponse">
    </iron-ajax>

    <br><br>
    <h1>No dispone de cuentas actualmente. ¿Desea contratar una?</h1><br>
    <button class="btn btn-primary" on-click="postaccount">Contratar mi primera cuenta</button>
  </template>

  <script>

    class ErrorCuentas extends Polymer.Element {
      static get is() { return 'error-cuentas'; }
      static get properties() {
        return {
          idcliente:{
            type: Number
          },
          estado:{
            type: String,
            value: "A"
          }
        };
      }

      postaccount(){
        this.userId = window.sessionStorage.getItem('userId');
        console.log("estoy en error-cuentas y el valor de userId que viene del session Storage en el alta de cuenta es  " + this.userId);
        this.$.postAccount.params.userId = this.userId
        console.log("Estoy en contratar para el cliente this.$.postAccount.params.userId es: " + this.$.postAccount.params.userId );
        this.$.postAccount.generateRequest()
      }

      managePostAccountResponse(data){
        var userId = this.userId
        console.log("Estoy en error-cuentas y procesamos el alta de cuenta para el cliente: "+ this.userId + "cuyo resultado es: " + data.detail.response.iban)
        this.dispatchEvent(new CustomEvent("eventlogged", {"detail":{"userId":userId}}))
      }

      manageErrorPostAccountResponse(error){
        console.log("Estoy en error-cuentas y hay un error en el alta de cuenta, error: "+ error.detail.response)
        this.logado = false
      }

    }

    window.customElements.define(ErrorCuentas.is, ErrorCuentas);
  </script>
</dom-module>
